body {
    margin: 0;
    min-height: 100vh;
   background: linear-gradient(135deg, #eff6ff 0%, #ffffff 60%, #dbeafe 100%);

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: "Plus Jakarta Sans", sans-serif;
}

.login-card {
    width: 570px;
    height: 580px;
    padding: 35px;

    background: #ffffff;

    border: 1px solid #e2e8f0;
    border-radius: 18px;

    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.06);
}

.login-logo {
    width: 65px;
    height: 65px;

    margin: 20px auto 12px;

    border-radius: 15px;

    background: #4da3ff;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #0b2f4a;
    font-size: 32px;
}

.login-title {
    text-align: center;

    font-size: 18px;
    font-weight: 700;

    color: #0b2f4a;

    margin-bottom: 30px;
}

.login-label {
    font-size: 18px;
    font-weight: 600;

    color: #334155;

    margin-bottom: 10px;
}

.login-input {
    width: 100%;
    height: 46px;

    padding: 0 14px;

    font-size: 18px;

    border: 1px solid #dbe3ea;
    border-radius: 9px;

    outline: none;

    margin-bottom: 18px;
}

.login-input:focus {
    border-color: #4da3ff;

    box-shadow: 0 0 0 3px rgba(77, 163, 255, 0.12);
}

.login-button {
    width: 100%;
    height: 60px;

    border: none;
    border-radius: 9px;

    background: #0b2f4a;
    color: white;

    font-weight: 600;
    font-size: 20px;

    margin-top: 25px;

    cursor: pointer;
}

.login-button:hover {
    background: #124466;
}


.login-error {
    background-color: #ffe5e5;
    color: #dc3545;
    border: 1px solid #f5b5b5;
    border-radius: 8px;
    padding: 10px 12px;
    margin-bottom: 15px;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 8px;
}

/* responsip hp */

@media (max-width: 480px) {
    body {
        padding: 30px;
        box-sizing: border-box;
    }

    .login-card {
        width: 370px;
        height: 410px;
        padding: 25px 20px;
        border-radius: 14px;
    }

    .login-logo {
        margin-top: 1px;
        width: 45px;
        height: 45px;
        font-size: 20px;
        border-radius: 13px;
    }

    .login-title {
        font-size: 12px;
        margin-bottom: 25px;
    }

    .login-label {
        font-size: 12px;
    }

    .login-input {
        height: 40px;
        font-size: 12px;
        margin-bottom: 10px;
    }

    .login-button {
        margin-top: 15px;
        height: 40px;
        font-size: 14px;
    }

    .login-error {
        font-size: 12px;
        padding: 9px 10px;
    }

    .register-link {
        font-size: 12px;
    }
}
